<div class="row">
  <div class="add-recipe-header">
    <div class="add-recipe-header-inner">
      <h1>Add Recipe</h1>
    </div>
  </div>

  <div class="add-recipe-box">
    <div class="add-recipe-box-inner">
      <div class="add-recipe-form-area">
        <%= render 'form' %>
      </div>
      
      <div class="return-links">
        <%= link_to "Home", root_url %> | 
        <%= link_to "List of Recipes", recipes_path %>
      </div>
    </div>
  </div>
</div>

